<div class="table-responsive" *ngIf="page?.total > 0">
    <table class="table table-sm clickable">
        <thead>
            <th>{{ 'armory.elo' | translate }}</th>
            <th>{{ 'armory.fighter' | translate }}</th>
            <th>{{ 'armory.username' | translate }}</th>
        </thead>
        <tbody>
            <tr [ngClass]="{'text-warning': armory.userId==userId}"
                *ngFor="let armory of page?.items | paginate: { id: 'server', itemsPerPage: options.pageSize, currentPage: options.pageNumber, totalItems: page.total }"
                routerLink="/leaderboard/{{ armory.fighterId }}">
                <td>
                    {{ armory.fighterElo }}
                    <img class="elo-image" *ngIf="armory.fighterElo > armory.fighterPreviousElo"
                        src="/assets/images/growth.svg">
                    <img class="elo-image" *ngIf="armory.fighterElo < armory.fighterPreviousElo"
                        src="/assets/images/shrink.svg">
                </td>
                <td>{{ armory.fighterName }}</td>
                <td class="text-muted">{{ armory.username }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="text-align: center;">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls class="ep-pagination" (pageChange)="loadPage($event)" id="server">
    </pagination-controls>
</div>