<div class="row">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <app-currency-balance [balance]="particlesBalance">
            </app-currency-balance>
        </li>

        <li class="list-group-item">
            <app-currency-balance [balance]="commonTokenBalance">
            </app-currency-balance>
        </li>

        <li class="list-group-item">
            <app-currency-balance [balance]="rareTokenBalance">
            </app-currency-balance>
        </li>

        <li class="list-group-item">
            <app-currency-balance [balance]="fabledTokenBalance">
            </app-currency-balance>
        </li>

        <li class="list-group-item">
            <app-currency-balance [balance]="mythicTokenBalance">
            </app-currency-balance>
        </li>
    </ul>
</div>

<div class="row mb-2">
    <div class="col-12 col-sm-6 col-xl-3 mb-1"
        *ngFor="let item of page?.items | paginate: { id: 'server', itemsPerPage: filter.pageSize, currentPage: filter.pageNumber, totalItems: page?.total }">
        <app-shop-item [item]="item" [balances]="balances" class="card card-body" (itemBought)="buyItem($event)">
        </app-shop-item>
    </div>
</div>

<div style="text-align: center;">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls class="ep-pagination" (pageChange)="loadPage($event)" id="server">
    </pagination-controls>
</div>

<div class="modal modal-dialog-centered" [ngStyle]="{ display: showModal ? 'flex' : 'none' }">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <h5 class="modal-title justify-content-center">{{ 'rewards.youGot' | translate }}:</h5>
            <button type="button" class="close" (click)="showModal = false">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body reward-content">
            <app-reward-content [items]="content?.items" [equipment]="content?.equipment">
            </app-reward-content>
        </div>
    </div>
</div>