<app-fighter-attunement class="row attunement justify-content-center mb-2"
    [attunement]="'44dfb638-7b83-4203-84de-d15a42d7926d'" [strength]="'004c6b2c-2e14-479d-b21c-12b1f81fc849'"
    [weakness]="'8be32154-6b23-4fba-a757-81ab3c111f89'" [selected]="selected"
    (selectedChange)="selectedChanged($event)">
</app-fighter-attunement>

<app-fighter-attunement class="row attunement justify-content-center mb-2"
    [attunement]="'004c6b2c-2e14-479d-b21c-12b1f81fc849'" [strength]="'780b0aaa-72f4-405d-b0e3-65867ca31c83'"
    [weakness]="'44dfb638-7b83-4203-84de-d15a42d7926d'" [selected]="selected"
    (selectedChange)="selectedChanged($event)">
</app-fighter-attunement>

<app-fighter-attunement class="row attunement justify-content-center mb-2"
    [attunement]="'780b0aaa-72f4-405d-b0e3-65867ca31c83'" [strength]="'c26fe510-f508-4c64-b6b0-2e5f5d93181e'"
    [weakness]="'004c6b2c-2e14-479d-b21c-12b1f81fc849'" [selected]="selected"
    (selectedChange)="selectedChanged($event)">
</app-fighter-attunement>

<app-fighter-attunement class="row attunement justify-content-center mb-2"
    [attunement]="'c26fe510-f508-4c64-b6b0-2e5f5d93181e'" [strength]="'8be32154-6b23-4fba-a757-81ab3c111f89'"
    [weakness]="'780b0aaa-72f4-405d-b0e3-65867ca31c83'" [selected]="selected"
    (selectedChange)="selectedChanged($event)">
</app-fighter-attunement>

<app-fighter-attunement class="row attunement justify-content-center"
    [attunement]="'8be32154-6b23-4fba-a757-81ab3c111f89'" [strength]="'44dfb638-7b83-4203-84de-d15a42d7926d'"
    [weakness]="'c26fe510-f508-4c64-b6b0-2e5f5d93181e'" [selected]="selected"
    (selectedChange)="selectedChanged($event)">
</app-fighter-attunement>