<div style="padding: 0.5em;">
    <div [ngClass]="getCssRarity()" class="item-border rounded"
        style="position: relative; width: 75px; height: 75px; display: inline-block;">
        <span *ngIf="item && count > 1" class="badge badge-dark"
            style="position: absolute; right: 1px;">{{ count }}</span>
        <img *ngIf="item" src="assets/images/items/{{ item.itemId }}.svg">
    </div>
    <span *ngIf="item" class="ml-2" style="position: absolute;">{{ 'items.' + item.itemId | translate }}</span>
    <span *ngIf="item" [ngClass]="getCssRarity()" class="badge ml-2">{{ 'rarity.' + item.rarity | translate }}</span>
</div>