<div class="row">
    <app-equipment class="col-12 col-md-6" [equipment]="weapon" [fighter]="fighter"
        (fighterChange)="updateFighter($event)" (salvaged)="updateSalvage($event)" [disableContext]="disableContext">
    </app-equipment>
</div>
<div class=" row">
    <app-equipment class="col-12 col-md-6" [equipment]="head" [fighter]="fighter"
        (fighterChange)="updateFighter($event)" (salvaged)="updateSalvage($event)" [disableContext]="disableContext">
    </app-equipment>
    <app-equipment class="col-12 col-md-6" [equipment]="shoulders" [fighter]="fighter"
        (fighterChange)="updateFighter($event)" (salvaged)="updateSalvage($event)" [disableContext]="disableContext">
    </app-equipment>
    <app-equipment class="col-12 col-md-6" [equipment]="chest" [fighter]="fighter"
        (fighterChange)="updateFighter($event)" (salvaged)="updateSalvage($event)" [disableContext]="disableContext">
    </app-equipment>
    <app-equipment class="col-12 col-md-6" [equipment]="hands" [fighter]="fighter"
        (fighterChange)="updateFighter($event)" (salvaged)="updateSalvage($event)" [disableContext]="disableContext">
    </app-equipment>
    <app-equipment class="col-12 col-md-6" [equipment]="legs" [fighter]="fighter"
        (fighterChange)="updateFighter($event)" (salvaged)="updateSalvage($event)" [disableContext]="disableContext">
    </app-equipment>
    <app-equipment class="col-12 col-md-6" [equipment]="shoes" [fighter]="fighter"
        (fighterChange)="updateFighter($event)" (salvaged)="updateSalvage($event)" [disableContext]="disableContext">
    </app-equipment>
</div>