<div [ngClass]="{'equipment': !disableContext}" style="padding: 0.5em;" (click)="showModal()">
    <div [ngClass]="getCssRarity()" class="equipment-border rounded"
        style="position: relative; width: 75px; height: 75px; display: inline-block;">
        <span *ngIf="equipment" class="badge badge-dark"
            style="position: absolute; right: 1px;">+{{ equipment?.enhancement }}</span>
        <img class="favorite-icon" *ngIf="!disableContext && equipment?.isFavorite"
            src="assets/images/favorite_set.svg">
        <img *ngIf="equipment" src="assets/images/equipment/{{ equipment.type }}.svg">
    </div>
    <span *ngIf="equipment" class="ml-2" style="position: absolute;">{{ getTranslation() | translate }}</span>
    <span *ngIf="equipment" [ngClass]="getLevelColor()" class="badge ml-2">{{ 'equipment.level' | translate}}
        {{equipment.level}}</span>
    <span *ngIf="equipment" [ngClass]="getCssRarity()"
        class="badge">{{ 'rarity.' + equipment.rarity | translate }}</span>

    <span *ngIf="equipment?.armor" class="badge">{{ equipment.armor }} {{ 'equipment.armor' | translate }}</span>
    <span *ngIf="equipment?.power" class="badge">{{equipment.power }} {{ 'equipment.power' | translate }}</span>
</div>

<div class="modal" [ngStyle]="{ display: modalVisible ? 'flex' : 'none' }">
    <div class="modal-dialog modal-dialog-centered col-12">
        <div class="modal-content">
            <div class="modal-body">
                <div class="btn-group-vertical" style="display: block">
                    <a *ngIf="equipment" routerLink="/equipment/enhance/{{ equipment.id }}"
                        class="btn btn-sm btn-outline-success">{{ 'equipment.enhance' | translate }}</a>

                    <button *ngIf="equipment && isUnequipped()" class="btn btn-sm btn-outline-light"
                        (click)="equip()">{{ 'equipment.equip' | translate }}</button>

                    <button *ngIf="equipment && !isUnequipped()" class="btn btn-sm btn-outline-light"
                        (click)="unequip()">{{ 'equipment.unequip' | translate }}</button>

                    <button *ngIf="!equipment?.isFavorite" class="btn btn-sm btn-outline-warning"
                        (click)="setFavorite()">{{ 'equipment.setFavorite' | translate}}</button>

                    <button *ngIf="equipment?.isFavorite" class="btn btn-sm btn-outline-warning"
                        (click)="unsetFavorite()">{{ 'equipment.unsetFavorite' | translate }}</button>

                    <hr />

                    <button class="btn btn-sm btn-outline-danger"
                        (click)="salvage()">{{ 'equipment.salvage' | translate }}</button>

                    <hr />

                    <button class="btn btn-sm btn-secondary"
                        (click)="hideModal()">{{ 'equipment.close' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>