<header>
  <!-- 
    
    <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
      <div class="container">
        <a class="navbar-brand" [routerLink]='["/"]'>EmpoweredPixels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/league"]'>Leagues</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/match/create"]'>Create match</a>
          </li>
          
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/roster"]'>Roster</a>
          </li>
          
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link " [routerLink]='["/rewards"]'>Rewards
              <span class="badge badge-primary" *ngIf="rewardCount>0">{{ rewardCount }}</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  -->


  <nav>
    <div class="container">
      <div #ref class="dropdown " style="display: inline-block; height:100%;">

        <!-- Small devices -->
        <button class="btn btn-primary dropdown-toggle"
          style="vertical-align: middle; background:transparent; height:100%;" (click)="toggle()"
          type="button">
          Menu
        </button>
        <div class="dropdown-menu" *ngIf="isExpanded">
          <a class="dropdown-item" [routerLink]='["/league"]'>Leagues</a>
          <a class="dropdown-item" [routerLink]='["/match/create"]'>Create match</a>
          <a class="dropdown-item" [routerLink]='["/roster"]'>Roster</a>
          <a class="dropdown-item" [routerLink]='["/rewards"]'>Rewards
            <span class="badge badge-primary" *ngIf="rewardCount>0">{{ rewardCount }}</span></a>
        </div>
      </div>


      <!-- large devices -->
      <div class="nav-panel ">
        <a [routerLink]='["/league"]'>Leagues</a>
        <a [routerLink]='["/match/create"]'>Create match</a>
        <a [routerLink]='["/roster"]'>Roster</a>
        <a [routerLink]='["/rewards"]'>Rewards
          <span class="badge badge-primary" *ngIf="rewardCount>0">{{ rewardCount }}</span></a>
      </div>

      <div class="right">
        <div class="fighter-stats-panel">

          <div *ngIf="balance" class="powder">{{ balance?.balance }} <img
              src="assets/images/items/a1fe94ec-5b54-4c1b-a5c0-0439f4a7e702.svg" /></div>

          <!-- exp bar -->
          <div *ngIf="experience" class="d-flex">
            <label>Lv. {{ experience.level }}</label>
            <div class="progress flex-fill exp-bar">
              <div class="progress-bar exp-bar-background"
                [ngStyle]="{ width: ((experience.currentExp / experience.levelExp) * 100) + '%' }">
                <span class="text-muted">{{ experience.currentExp }} Exp</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>