<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <button class="navbar-toggler" style="background-image: linear-gradient(135deg, #b6cfff2b 40%, #453ace24 100%);"
        type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]='["/league"]' routerLinkActive="router-link-active">League</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]='["/armory"]' routerLinkActive="router-link-active">Armory</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]='["/roster"]' routerLinkActive="router-link-active">Roster</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]='["/rewards"]' routerLinkActive="router-link-active">Rewards<span
                class="badge badge-primary" *ngIf="rewardCount>0">{{ rewardCount }}</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>