<div class="container">
  <a class="btn btn-primary" style="margin:10px 0px;" [routerLink]="'fighter/new'">Create new fighter</a>
  <div class="row">
    <a class="col-12" *ngFor="let fighter of fighters" [routerLink]="'fighter/' + fighter.id">
      <div class="card card-body">
        <div class="blur"></div>
        <h5 class="card-title">{{ fighter.name }}
        </h5>
        <app-fighter-stat-forecast [fighter]="fighter"></app-fighter-stat-forecast>
        <img src="assets/mighty-force.png">
      </div>
    </a>
  </div>
</div>