<div class="container">
  <div class="content">
    <h1>Roster</h1>

    <div class="card col-sm-3" *ngFor="let fighter of fighters">
      <div class="card-header">
        <a [routerLink]="'fighter/' + fighter.id">{{ fighter.name }}</a>
      </div>

      <div class="card-body">
        todo
      </div>
    </div>
    <div class="card col-sm-3">
      <div class="card-body">
      </div>
      <a class="btn btn-primary" [routerLink]="'fighter/new'">Create new fighter</a>
    </div>
  </div>
</div>