<div class="container" *ngIf="leagueDetail">

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h1>{{ leagueDetail.name | translate }} <h5 class="text-muted">{{ 'league.nextMatch' | translate }}:
                    {{ leagueDetail.nextMatch | date:'short' }}
                </h5>
            </h1>
        </div>
        <div class="col-sm-12 col-md-4 champ d-flex">
            <div class="inline" style="margin-top: 10px;">
                <img src="assets/images/laurel-crown.svg" />
            </div>
            <div class="inline" style="margin-top: 10px;text-align: left; margin-left: 15px;">
                <p *ngIf="highscores&&highscores.length!=0">{{highscores[0].username}}</p>
                <label class="text-muted">{{ 'league.champ' | translate }}</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card card-body col-12">
            <h4>{{ 'league.recentMatches' | translate }}</h4>
            <span *ngIf="page?.total === 0">{{ 'league.noMatchesYet' | translate }}</span>
            <div class="table-responsive" *ngIf="page?.total > 0">
                <table class="table table-sm clickable">
                    <thead>
                        <tr>
                            <th>{{ 'league.started' | translate }}</th>
                            <th>{{ 'league.division' | translate }}</th>
                            <th>{{ 'league.winner' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of page?.items | paginate: { id: 'server', itemsPerPage: options.pageSize, currentPage: options.pageNumber, totalItems: page.total }"
                            routerLink="/match/{{ match.matchId }}/result">
                            <td>{{ match.started | timeAgo }}</td>
                            <td>
                                {{ match.division }}
                            </td>
                            <td>
                                <span>{{ match.winnerFighterName }}</span>
                                <span class="ml-2 text-muted">{{ match.winnerUser }}</span>
                            </td>
                            <td>
                                <a class="replay" routerLink="/replay/{{ match.matchId }}">
                                    <img src="assets/images/play-button.svg" />
                                    {{ 'league.replay' | translate }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: center;">
                    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                    <pagination-controls class="ep-pagination" (pageChange)="loadPage($event)" id="server">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-body col-12 col-md-6">
            <h5>{{ 'league.highscores' | translate }}</h5>
            <span class="text-muted"> {{ 'league.topLastMatches' | translate: highScoreTranslateParams }}</span>

            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>{{ 'league.wins' | translate }}</th>
                            <th>{{ 'league.fighter' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let score of highscores">
                            <td><span class="badge">{{ score.score }}</span></td>
                            <td><span>{{ score.fighterName }}</span><span
                                    class="ml-2 text-muted">{{ score.username }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="card card-body col-12 col-md-6">
            <span class="justify-content-end">
                <button *ngIf="subs?.length===0" class="btn btn-outline-success"
                    (click)="subscribe()">{{ 'league.subscribe' | translate }}</button>
                <button *ngIf="subs?.length>0" class="btn btn-outline-danger"
                    (click)="unsubscribe()">{{ 'league.unsubscribe' | translate }}</button>
            </span>

            <h4>Subscribers <span class="badge badge-light">{{ leagueDetail.subscriberCount }}</span></h4>

            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>{{ 'league.fighter' | translate }}</th>
                            <th>{{ 'league.user' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sub of leagueDetail.subscriptions">
                            <td>{{ sub.fighterName }}</td>
                            <td>{{ sub.user }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-dialog-centered" [ngStyle]="{ display: showModal ? 'flex' : 'none' }">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <h5 class="modal-title justify-content-center">{{ 'league.chooseYourFighter' | translate }}</h5>
            <button type="button" class="close" (click)="showModal = false">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <select class="form-control" [(ngModel)]="fighterId">
                <option [ngValue]="fighter.id" *ngFor="let fighter of fighters">{{ fighter.name }}</option>
            </select>
        </div>
    </div>
</div>