<div class="container">
  <h1>Lobby</h1>
  <hr>
  <h2>Match: {{ match?.id }}</h2>

  <label for="fighterSelection">Kämpfer</label>
  <div class=" nes-select" (ngsubmit)="join()">
    <select [(ngModel)]="fighterId" name="fighterSelection" id="fighterSelection">
      <option *ngFor="let fighter of fighters | async" value="{{ fighter.id }}">{{ fighter.name }}</option>
    </select>
  </div>
  <button class="nes-btn is-success" (click)="join()">Join match</button>
  <button class="nes-btn is-error" (click)="leave()">Leave match</button>


  <div class="nes-container with-title " style="margin-top: 50px">
    <p class="title">Kämpfer in Lobby</p>

    <ul>
      <li *ngFor="let registration of match?.registrations">
        <app-match-participant [registration]="registration"></app-match-participant>
      </li>
    </ul>

  </div>
  <hr>
  <button class="nes-btn is-primary" style="width: 100%;" (click)="startMatch()">Start match</button>
</div>