<div class="container">
  <h1>Lobby</h1>
  <hr />

  <span class="nes-badge float-right" *ngIf="match?.options?.botCount">
    Bots: {{ match.options.botCount }}
  </span>
  <h2>Match: {{ match?.id }}</h2>

  <div class="row">
    <div class="col col-md-6">
      <label for="fighterSelection">Fighter</label>
      <div (ngsubmit)="join()">
        <select class="form-control" [(ngModel)]="fighterId" name="fighterSelection" id="fighterSelection">
          <option *ngFor="let fighter of fighters | async" value="{{ fighter.id }}">{{ fighter.name }}</option>
        </select>
      </div>
      <div>
        <button *ngIf="fighterId" class="btn btn-success" (click)="join()">
          Join match
        </button>
        <button *ngIf="fighterId" class="btn btn-danger" (click)="leave()">
          Leave match
        </button>
        <button *ngIf="fighterId" class="btn btn-light" (click)="teamId = null; showTeamModal = true">
          Create and join team
        </button>
        <button *ngIf="fighterId" class="btn btn-light" (click)="leaveTeam()">
          Leave team
        </button>
      </div>
    </div>
  </div>

  <div class="card card-body" style="margin-top: 50px">
    <p class="card-title">Kämpfer in Lobby</p>

    <div class="team" [ngStyle]="{ 'border-color': getTeamColor(group.key) }" *ngFor="
        let group of match?.registrations
          | orderBy: 'teamId'
          | groupBy: 'teamId'
      ">
      <h4 *ngIf="group.key === 'null'">No team</h4>
      <button class="btn btn-light float-right" *ngIf="group.key !== 'null' && fighterId"
        (click)="teamId = group.key; password = null; showTeamModal = true">
        Join team
      </button>

      <span class="fighter-registration" *ngFor="let registration of group.value">
        <app-match-participant [registration]="registration"></app-match-participant>
      </span>
    </div>
  </div>
  <hr />
  <button [disabled]="matchInProgress" class="btn btn-primary" style="width: 100%;" (click)="startMatch()"
    *ngIf="canStartMatch">
    <span *ngIf="!matchInProgress">Start match</span>
    <span *ngIf="matchInProgress">Match started...</span>
    <div *ngIf="matchInProgress" class="spinner-border text-info" role="status"></div>
  </button>
</div>

<div class="modal modal-dialog-centered" [ngStyle]="{ display: showTeamModal ? 'flex' : 'none' }">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create team</h5>
      <button type="button" class="close" (click)="showTeamModal = false">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Password, leave blank if none</label>
      <input class="form-control" type="text" [(ngModel)]="password" />

      <button class="btn btn-light col-md-4" (click)="
          teamId === null ? createAndJoinTeam() : joinTeam(teamId);
          showTeamModal = false">
        Join team
      </button>
    </div>
  </div>
</div>