<div class="row">
    <div class="col-12">
        <h6 class="text-muted">{{ 'roster.powerlevel' | translate }}: {{ powerlevel }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge" style="color: #61ff3e !important;">{{ 'roster.health' | translate }}: {{ forecast?.health }}
            +
            {{ forecast?.healthRegeneration }}
            {{ 'roster.regenerationShort' | translate }}</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge" style="color: #00faff !important;">{{ 'roster.energy' | translate }}: {{ forecast?.energy }}
            +
            {{ forecast?.energyRegeneration }}
            {{ 'roster.regenerationShort' | translate }}</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge badge-secondary">{{ 'roster.potentialPower' | translate }}:
            {{ forecast?.potentialPower | number }}</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge badge-secondary">{{ 'roster.potentialDefense' | translate }}:
            {{ forecast?.potentialDefense | number }}</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge badge-secondary">{{ 'roster.velocity' | translate }}: {{ forecast?.velocity }}m</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge badge-secondary">{{ 'roster.vision' | translate }}: {{ forecast?.vision }}m</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge badge-secondary">{{ 'roster.critChance' | translate }}:
            {{ forecast?.critChance | number }}%</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge badge-secondary">{{ 'roster.dodgeChance' | translate }}:
            {{ forecast?.dodgeChance | number }}%</span>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
        <span class="badge badge-secondary">{{ 'roster.hitChance' | translate }}:
            {{ forecast?.missChance | number }}%</span>
    </div>
</div>