<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-1" *ngFor="let league of leagues | async">
            <div class="card card-body h-100" routerLink="/league/{{ league.id }}">
                <h5 class="card-title">{{ league.name | translate }}
                    <span>
                        {{ getDiff(league.nextMatch) }}</span>
                </h5>

                <div class="jumbotron">{{ league.name + 'Description' | translate }}</div>

                <ul class="list-group list-group-flush">
                    <div *ngVar="(league.id | userLeagueSubscriptions | async) as subs">
                        <li class="list-group-item" *ngIf="subs?.length===0">
                            <img class="subscription-status-image" src="assets/images/cancel.svg">
                            <span class="text-danger">{{ 'league.unsubscribe' | translate }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="subs?.length>0">
                            <img class="subscription-status-image" src="assets/images/check-mark.svg">
                            <span class="text-success">{{ 'league.subscribe' | translate }}</span>
                        </li>
                    </div>
                    <li class="list-group-item">{{ 'league.subscribers' | translate }}: {{ league.subscriberCount }}
                    </li>
                </ul>

                <div class="matchwinner" *ngVar="(league.id | lastLeagueWinner | async) as winner">
                    <div *ngIf="winner?.fightername">
                        <img src="assets/images/laurel-crown.svg" />
                        <div style="text-align: center;">
                            <p>{{ winner.fightername }}</p>
                            <p class="text-muted">{{ winner.username }}</p>
                        </div>
                    </div>

                    <div *ngIf="!winner?.fightername">
                        <img src="assets/images/no-winner.svg" />
                        <div style="text-align: center;">
                            <p>{{ 'league.noWinner' | translate }}</p>
                            <p class="text-muted">{{ 'league.lastMatchDraw' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>