<div class="card card-body">
  <span>{{ 'matchLog.filter' | translate }}:</span>
  <select class="custom-select" [(ngModel)]="fighterId">
    <option [ngValue]="undefined">{{ 'matchLog.none' | translate }}</option>
    <option [ngValue]="fighter.id" *ngFor="let fighter of fightersSelection">{{ fighter.name }}</option>
  </select>
</div>

<div class="card card-body w-100 overflow-auto">
  <div *ngFor="let round of print">
    <h5 class="border-bottom border-top">{{ 'matchLog.round' | translate }}: {{ round.round }}</h5>
    <div *ngFor="let tick of round.ticks">
      <div
        *ngIf="!fighterId || tick.fighterId == fighterId || tick.targetId == fighterId || tick.originalTargetId == fighterId">
        <!--Fighter moved tick-->
        <span *ngIf="tick.fighterId && tick.targetId && tick.nextX">
          <span class="font-weight-bold">{{ getName(tick.fighterId) }}</span> {{ 'matchLog.moved' | translate }} <span
            *ngIf="tick.fighterId !== tick.targetId"
            class="font-weight-bold text-muted">{{ getName(tick.targetId) }}</span> {{ 'matchLog.to' | translate }}
          {{ tick.nextX }},
          {{ tick.nextY }}
        </span>

        <!--Fighter applied condition tick-->
        <span *ngIf="tick.fighterId && tick.targetId && tick.conditionId">
          <span class="font-weight-bold">{{ getName(tick.fighterId) }}</span> {{ 'matchLog.applied' | translate }}
          <span class="text-muted">{{ 'conditions.' + tick.conditionId | translate }}</span>
          {{ 'matchLog.on' | translate }} <span class="font-weight-bold text-muted">{{ getName(tick.targetId) }}</span>
        </span>

        <!--Fighter applied buff tick-->
        <span *ngIf="tick.fighterId && tick.targetId && tick.buffId">
          <span class="font-weight-bold">{{ getName(tick.fighterId) }}</span> {{ 'matchLog.applied' | translate }}
          <span class="text-muted">{{ 'buffs.' + tick.buffId | translate }}</span>
          {{ 'matchLog.on' | translate }} <span class="font-weight-bold text-muted">{{ getName(tick.targetId) }}</span>
        </span>

        <!--Fighter condition damage tick-->
        <span *ngIf="tick.conditionId && tick.damage">
          <span class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          <span class="text-muted"> {{ 'conditions.' + tick.conditionId | translate }} </span> <span
            class="badge badge-danger">{{ tick.damage }}</span> {{ 'matchLog.damage' | translate }}
        </span>

        <!--Fighter move tick-->
        <span *ngIf="tick.fighterId && !tick.targetId && tick.nextX"><span
            class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          <span class="text-muted"> {{ 'matchLog.moved' | translate }} {{ 'matchLog.to' | translate }}
          </span>{{ tick.nextX }}, {{ tick.nextY }}</span>

        <!--Fighter attack tick-->
        <span *ngIf="tick.skillId && tick.targetId"><span class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          {{ 'matchLog.attacked' | translate }} <span class="font-weight-bold text-muted">
            {{ getName(tick.originalTargetId) }} </span> <span class="text-muted">{{ 'matchLog.with' | translate }}
            {{ 'skills.' + tick.skillId | translate }}
            <span class="badge badge-danger">{{ tick.damage }}</span> {{ 'matchLog.damage' | translate }} <span
              *ngIf="tick.critical" class="text-danger">{{ 'matchLog.critical' | translate }}</span><span
              *ngIf="tick.dodged" class="text-info">{{ 'matchLog.dodged' | translate }}</span> <span
              *ngIf="tick.reflected" class="text-warning"> {{ 'matchLog.reflected' | translate }}
              {{ 'matchLog.to' | translate }} </span> </span> <span *ngIf="tick.reflected"
            class="font-weight-bold text-muted">
            {{ getName(tick.targetId) }} </span>
          <span *ngIf="tick.parried" class="text-info">{{ 'matchLog.parried' | translate }}</span>
        </span>

        <!--Fighter died tick-->
        <span *ngIf="tick.died"><span class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          {{ 'matchLog.died' | translate }}</span>

        <span *ngIf="tick.spawned"><span class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          {{ 'matchLog.spawnedAt' | translate }}
          {{ tick.positionX }}, {{ tick.positionY }}</span>

        <!--Fighter healed tick-->
        <span *ngIf="tick.appliedHealing || tick.potentialHealing"><span
            class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          {{ 'matchLog.healed' | translate }} <span *ngIf="tick.fighterId !== tick.targetId"
            class="font-weight-bold text-muted">{{ getName(tick.targetId) }}</span>
          {{ 'matchLog.with' | translate }} {{ 'skills.' + tick.healSkillId | translate }}
          <span class="text-success">{{ tick.appliedHealing }}</span>
          {{ 'matchLog.health' | translate }}</span>

        <!--Fighter sacrificed tick-->
        <span *ngIf="tick.sacrificed">
          <span class="font-weight-bold">{{ getName(tick.fighterId) }}</span> {{ 'matchLog.hasBeen' | translate }} <span
            class="text-danger">{{ 'matchLog.sacrificed'| translate }}</span>
        </span>

        <!--Fighter stunned tick-->
        <span *ngIf="tick.isStunned">
          <span class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          {{ 'matchLog.isStunnedCannotPerform' | translate }}
        </span>

        <!--fighter health regenerated-->
        <span *ngIf="tick.healthPointsRegenerated"><span class="font-weight-bold">{{ getName(tick.fighterId) }}</span>
          {{'matchLog.regenerated' | translate}}
          <span class="text-success">{{ tick.healthPointsRegenerated }}</span>
          {{ 'matchLog.health' | translate}}</span>
      </div>
    </div>
  </div>
</div>