<button class="btn btn-info" (click)="play()">Play</button><button class="btn btn-secondary" (click)="reset()">Reset</button>
<div class="map overflow-auto">
  <div style="zoom: 0.6" [ngStyle]="{'height': (height * 10) + 'px', 'width': (width * 10) + 'px'}">
    <app-game-fighter class="fighter" *ngFor="let fighter of fighters | keyvalue" [fighter]="fighter.value" [ngStyle]="{'left': (fighter.value.positionX *10 ) + 'pt','top': (fighter.value.positionY * 10 ) + 'pt'}"></app-game-fighter>
  </div>
</div>
