<div class="row">
  <div class="col-md-2">
    <div class="card card-body">
      <label>Change scale</label>
      <button class="btn btn-danger" (click)="scaleView(false)">-</button>
      <button class="btn btn-success" (click)="scaleView(true)">+</button>
    </div>

    <div class="card card-body">
      <label>Speed in milliseconds</label>
      <input class="form-control" type="number" min="1" max="10000" [(ngModel)]="interval" />
    </div>

    <div class="card card-body">
      <label>Follow fighter:</label>
      <select
        class="form-control"
        [(ngModel)]="followFighterId"
        (change)="scrollTo(followFighterId)"
      >
        <option value="">None</option>
        <option
          value="{{ fighter.value.id }}"
          *ngFor="let fighter of fighters | keyvalue"
          >{{ fighter.value.name }}</option
        >
      </select>
    </div>

    <div class="card card-body">
      <button class="btn btn-primary" (click)="play()">Play</button
      ><button class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>
  </div>
  <div class="border map overflow-auto col-12 col-md-10">
    <div
      id="viewer"
      [ngStyle]="{
        transform: 'scale(' + scale + ')'
      }"
    >
      <app-game-fighter
        [ngClass]="fighter.value.isDead ? 'fighter dead' : 'fighter'"
        [id]="fighter.value.id"
        *ngFor="let fighter of fighters | keyvalue"
        [fighter]="fighter.value"
        [ngStyle]="{
          left: fighter.value.positionX * 10 + 'pt',
          top: fighter.value.positionY * 10 + 'pt'
        }"
      ></app-game-fighter>
    </div>
  </div>
</div>
