<div class="container" *ngIf="matchFighterScores$ | async as fighterscores">
  <a *ngIf="fighterscores" class="btn btn-outline-secondary" [routerLink]="'/replay/' + id">Watch replay</a>
  <a *ngIf="fighterscores" class="btn btn-outline-info" [routerLink]="'/match/'+ id + '/log'">Log</a>
  <div class="table-responsive-lg">
    <table class="table table-sm">
      <thead>
        <th>Team</th>
        <th>Points</th>
        <th>Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Rounds alive</th>
        <th>Damage done</th>
        <th>Damage taken</th>
        <th>Regenerated health</th>
        <th>Energy used</th>
        <th>Regenerated Energy</th>
        <th>Distance traveled</th>
      </thead>

      <tbody *ngIf="fighterscores">
        <tr *ngFor="let score of fighterscores">
          <td [ngStyle]="{ 'background-color': getTeamColor(score.teamId) }"></td>
          <td>{{ score.points }}</td>
          <td><a [routerLink]="'/armory/' + score.fighterId">{{ score.fighterName }}</a></td>
          <td>{{ score.totalKills }}</td>
          <td>{{ score.totalDeaths }}</td>
          <td>{{ score.roundsAlive }}</td>
          <td>{{ score.totalDamageDone }}</td>
          <td>{{ score.totalDamageTaken }}</td>
          <td>{{ score.totalRegeneratedHealth }}</td>
          <td>{{ score.totalEnergyUsed }}</td>
          <td>{{ score.totalRegeneratedEnergy }}</td>
          <td>{{ score.totalDistanceTraveled }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>