<div *ngIf="reward" class="card">
    <div class="card-header justify-content-center">
        <div [ngClass]="getCssRarity()" class="chest-border rounded"
            style="width: 75px; height: 75px; margin-right: auto;margin-left: auto;">
            <img src="assets/images/locked-chest.svg">
        </div>
        <span [ngClass]="getCssRarity()" class="text-center"
            style="display: block;">{{ 'rewards.' + reward.poolId | translate }}</span>
    </div>

    <div class="card-body">
        <button [disabled]="claimed" class="btn btn-block btn-light" (click)="claim()">
            <span *ngIf="!claimed">{{ 'rewards.claim' | translate }}</span> <span
                *ngIf="claimed">{{ 'rewards.claimed' | translate }}</span>
            <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
        </button>
    </div>
</div>