<ng-container *ngIf="ticks">

    <button class="nes-btn is-primary" (click)="replayMatchResult()">Show match rounds</button>

    <ng-container *ngIf="isReplayMatchResult">

        <div>

            <div class="arena-view">

                <div class="fighter" *ngFor="let fighter of fighters" [style.top.px]="fighter.currentX"
                    [style.left.px]="fighter.currentY">
                    <div class="dot"></div>
                    {{fighter.fighterId | fightername | async }}
                </div>

            </div>

            <hr>

            <button class="nes-btn is-primary" (click)="backward()">
                << </button>
                <button class="nes-btn is-primary" (click)="play()">Play</button>
                <button class="nes-btn is-primary" (click)="forward()">
                    >>
            </button> <button class="nes-btn is-primary" (click)="showAllRounds()">Show all</button>
            <div #consolePanel class="console-view nes-container is-rounded is-dark">

                <!--Spawn-->
                <div>

                </div>

                <!--Console-->
                <div *ngFor="let round of roundsConsole; let i = index">
                    Runde : {{round.Round}}

                    <div *ngFor="let tick of round.Ticks">
                        {{tick.FighterId | fightername | async}}
                        -

                        <span *ngIf="tick.NextX;else attack">
                            {{setPositionOfFighter(tick)}}
                            gehe zu (X,Y) : {{tick.NextX}}, {{tick.NextY}}
                        </span>

                        <span #attack *ngIf="tick.TargetId; else energyReg">
                            <img src="assets/sword.png" width="12px" /> Angriff auf
                            {{tick.TargetId | fightername | async}}
                            <span>, Schaden : {{tick.Damage}}</span>
                        </span>

                        <span #energyReg *ngIf="tick.RegeneratedEnergy; else healthReg">
                            Energy Regenerierung {{ tick.RegeneratedEnergy}}
                        </span>

                        <span #healthReg *ngIf="tick.HealthPointsRegenerated; else healthReg">
                            Leben Regenerierung {{ tick.HealthPointsRegenerated}}
                        </span>

                    </div>
                </div>
            </div>



        </div>

    </ng-container>


</ng-container>